<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Short Name:</strong>
  <%= @course.short_name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
