<p>
  <strong>Name:</strong>
  <%= @block.name %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @block.sort_order %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
