
<h3><%= @section.name %></h3>

<table>
  <% @enrollments.each do |e| %>
    <tr>
      <td><%= link_to e.student.display_name, edit_student_path(e.student.id) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
