<table>
  <% row = 0; col = 0 %>
  <% @students.each do |s| %>
    <% if (col == 0) %>
      <tr>
    <% end %>
      <td>
        <%= s.given_name %>
      </td>
    <% if (col == 7) %>
      </tr>
      <% col = 0 %>
    <% else %>
      <% col = col + 1 %>
    <% end %>
  <% end %>
</table>
