// Place all the styles related to the progress controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
** Appearence
*/

.unseated {
  background-color: #AAA;
  border-radius: 5px;
}
.seatmap {
  background-color: #CCC;
  border-radius: 5px;
}
.seat {
  background-color: #DDD;
  border-radius: 5px;
}
.seat.empty-seat {
  background-color: #BBB;
}
.not-a-seat {
  background-color: #CCC;
}
.student-item {
  background-color: #88F;
  border-radius: 5px;
}

/*
** Page layout
*/
.seating-chart {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.seating-chart-sidebar {
  display: flex;

  flex-direction: column;
}
.seating_chart_buttons {
  display: flex;
  justify-content: center;
}
.unseated {
  width: 15%;
  height: calc(96vh - 48px); // HACK: hardcodes toolbar height
  display: flex;
  justify-content: center;
}
.seatmap {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: calc(96vh - 48px); // HACK: hardcodes toolbar height
}
.seatmap-row {
  display: flex;
  flex-grow: 1;
}
.seat, .not-a-seat {
  width: 12%;
  height: 22vh;
  min-height: 18vh;
  margin: 4px 4px 4px 4px;
  flex: 1;
}
.student-item {
  display: block;
}
.unseated.student-item {
  width: 90%;
  margin-bottom: 5px;
}
.seat.student-item {
  width: 100%;
  height: 100vh;
}
.student-content {
  display: flex;
  justify-content: center;
}

/*
** Muuri required CSS
*/
.area { position: relative; }
.student-item { position: absolute; }
.student-content { position: relative; }
