// Place all the styles related to the Status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.status-controls {
  background-color: #888888;
  color: white;
  height: 6vh;
  padding: 2px;
}
a {
  text-decoration: none;
}
a:visited.active {
  color: red;
}
.grid {
  position: relative;
}
.item {
  background-color: #DCDCDC;
  color: #000;
  display: block;
  margin: 4px;
  min-height: 18vh;
  position: absolute;
  width: 11.9%;
  z-index: 1;
}
// Should this be data-empty-seat?
.item.empty-seat {
  background-color: #EEEEEE;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

// Mobile device:
// Tiny grid with bacground set to status color (map of room).
// Tap on tile to expand info for that student.
